*{
  margin:  0;
  padding: 0;
  box-sizing: border-box;
  font-family: Puma ;

}

@font-face {
  font-family: Puma;
  src: url(/Users/devanshu/Desktop/Assignments/complete-web-technologies-and-react-assignments-Devanshu2343/ReactJS/React-Route/vite-project/src/assets/MYPUMA__.TTF);
} 


.offers{
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;


}

.menus{
  display: flex ;
  width: 90%;
  background-color: black;
  color: white;
}
